@import "smart-grid.less";

@color: #ECF0F1;
@btn: #DFB48B;

.reset();

body {
    font-family: 'Roboto', sans-serif;
    color: @color;
}

h1 {
    font-weight: bold;
    font-size: 64px;
    line-height: 77px;
    letter-spacing: 0.4px;
}

h2 {
    font-size: 32px;
    line-height: 32px;
}

h3 {
    font-size: 28px;
    line-height: 36px;
}

.container {
    .wrapper();
}

.header {
    padding-top: 21px;
    padding-bottom: 243px;
    background-image: url("../images/headerbg.jpg");
    background-size: cover;

    &-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 100px;

        &-nav {

            & ul {
                display: flex;
                
                & li a {
                    color: inherit;
                    text-decoration: none;
                    display: block;
                    padding: 8px;
                    font-size: 16px;
                    text-transform: uppercase;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        &-btn {
            border: none;
            background-color: @btn;
            text-transform: uppercase;
            color: #111111;
            font-size: 16px;
            padding: 13px 21px;
            border-radius: 5px;
        }

        &-burger {
            display: none;
        }

        &-call {
            display: none;
        }
    }

    &__title {
        margin-bottom: 46px;
        .shift-left(.6);
    }

    &__text {
        font-size: 24px;
        line-height: 35px;
        margin-bottom: 47px;
        .shift-left(.6);
    }

    &-btn {
        border: none;
        background-color: @btn;
        text-transform: uppercase;
        color: #111111;
        font-size: 16px;
        padding: 24px 32px;
        border-radius: 5px;
        .shift-left(.6);
    }
}

.desc {
    background: #2D404C;
    padding-top: 65px;
    padding-bottom: 53px;

    .container { 
        display: flex;
    }

    &-main {
        .col();
        .shift-left(.6);
        .size(7.5);

        &__title {
            margin-bottom: 48px;
        }

        &__text {
            font-size: 20px;
            line-height: 30px;
            white-space: pre-line
        }
    }

    &-footer {
        .col();
        .size(3.1);

        img {
            margin-bottom: 15px;
        }

        &__text {
            margin-bottom: 9px;
            font-size: 16px;
            line-height: 26px;

            &:last-child {
                margin: 0;
            }
        }
    }
}

.degub-grid{
    .debug(rgba(0, 0, 0, 0.5), 1px solid #ff0);
 }