@import "smart-grid.less";

@color: #ECF0F1;
@btn: #DFB48B;

.reset();

body {
    font-family: 'Roboto', sans-serif;
    color: @color;
}

h1 {
    font-weight: bold;
    font-size: 64px;
    line-height: 77px;
    letter-spacing: 0.4px;
}

h2 {
    font-size: 32px;
    line-height: 32px;
}

h3 {
    font-size: 28px;
    line-height: 36px;
}

.container {
    .wrapper();
}

.header {
    padding-top: 21px;
    padding-bottom: 243px;
    background-image: url("../images/headerbg.jpg");
    background-size: cover;

    &-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 100px;

        &-nav {

            & ul {
                display: flex;
                
                & li a {
                    color: inherit;
                    text-decoration: none;
                    display: block;
                    padding: 8px;
                    font-size: 16px;
                    text-transform: uppercase;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        &-btn {
            border: none;
            background-color: @btn;
            text-transform: uppercase;
            color: #111111;
            font-size: 16px;
            padding: 13px 21px;
            border-radius: 5px;
        }

        &-burger {
            display: none;
        }

        &-call {
            display: none;
        }
    }

    &__title {
        margin-bottom: 46px;
        .shift-left(.55);
    }

    &__text {
        font-size: 24px;
        line-height: 35px;
        margin-bottom: 47px;
        .shift-left(.55);
    }

    &-btn {
        border: none;
        background-color: @btn;
        text-transform: uppercase;
        color: #111111;
        font-size: 16px;
        padding: 24px 32px;
        border-radius: 5px;
        .shift-left(.55);
    }
}

.desc {
    background: #2D404C;
    padding-top: 65px;
    padding-bottom: 53px;

    .container { 
        display: flex;
    }

    &-main {
        .col();
        .shift-left(.55);
        .size(7.5);

        &__title {
            margin-bottom: 48px;
        }

        &__text {
            font-size: 20px;
            line-height: 30px;
            white-space: pre-line
        }
    }

    &-footer {
        .col();
        .size(3.1);

        img {
            margin-bottom: 15px;
        }

        &__text {
            margin-bottom: 9px;
            font-size: 16px;
            line-height: 26px;

            &:last-child {
                margin: 0;
            }
        }
    }
}

.service {
    padding-top: 42px;
    padding-bottom: 60px;

    &__title {
        .col();
        .shift-left(0.55);
        color: #111111;
        margin-bottom: 26px;
    }

    &-items {
        .row-flex();
        justify-content: space-between;

        &-item {
            .col();
            min-height: 453px;
            .size(3.3);
            padding-bottom: 40px;
            display: flex; 
            flex-direction: column;

            a {
                margin-top: auto;
                display: flex;
                .col();
                .shift-left(0.55);
                color: inherit;
                text-decoration: none;
                font-size: 28px;
                line-height: 36px;

                &:hover {
                    text-decoration: underline;
                }
            }

            &:first-child {
                .size(5);
                background-image: url("../images/flat.jpg")
            }

            &:nth-child(2) {
                background-image: url("../images/house.jpg")
            }

            &:nth-child(3) {
                background-image: url("../images/business.jpg")
            }
        }
    }
}

.advant {
    padding-top: 62px;
    padding-bottom: 69px;
    background-color: #2D404C;

    &__title {
        .shift-left(0.55);
        margin-bottom: 50px;
    }

    &-items {
        .row-flex();
        justify-content: center;
        align-items: baseline;
        min-height: 218px;

        &-item {
            .col();
            text-align: center;
            .size(2.1);
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                margin-top: 10px;
            }

            &:nth-child(2),
            &:nth-child(4) {
                align-self: flex-end;
            }

            img {
                width: 60px;
                height: 60px;
            }
        }
    }
}

.portfolio {
    padding-top: 62px;
    padding-bottom: 65px;

    &__title {
        text-align: center;
        color: #111111;
        margin-bottom: 37px;
    }

    &-nav {
        margin-bottom: 83px;

        ul {
            display: flex;
            justify-content: center;

            li:not(:last-child) {
                margin-right: 18px;
            }

            button {
                border-radius: 5px;
                width: 185px;
                border: 2px solid #DFB48B;
                font-weight: bold;
                font-size: 18px;
                line-height: 32px;
                color: #DFB48B;
                background-color: transparent;
                transition: .3s ease;
                padding: 6px 0;

                &:hover,
                &:focus {
                    background-color: #DFB48B;
                    color: #111111;
                }
            }
        }
    }

    &-slider {
        display: flex;
        position: relative;
        flex-wrap: wrap;

        img {
            .shift-left(0.55);
        }

        .one,
        .two {
            font-size: 100px;
            line-height: 32px;
            color: #9D9D9D;
            position: absolute;
        }

        .one {
            left: 49%;
            top: 44%;
        }

        .two {
            transform: rotate(-180deg);
            right: 0;
            top: 70%;
        }

        &-nav {
            position: absolute;
            bottom: 0;
            right: 0;
            .shift-right(.55);

            ul {
                display: flex;
                align-items: flex-end;

                button {
                    font-size: 0;
                    width: 50px;
                    height: 50px;
                    border: none;
                    background: #DFB48B;
                    border-radius: 4px;
                    display: block;
                }

                li:nth-child(2) {
                    button {
                        background-image: url(../images/prev.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                        margin-right: 9px;
                    }
                }

                li:nth-child(3) {
                    button {
                        background-image: url(../images/next.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }

                a {
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 32px;
                    text-decoration: none;
                    color: #DFB48B;
                    margin-right: 128px;

                    &:hover {
                        text-decoration-line: underline;
                    }
                }
            }
        }

        &-main {
            .col();
            .size(5.1);
            .shift-left(.15);
            display: flex;
            flex-direction: column;

            p {
                font-size: 18px;
                line-height: 32px;
                color: #111111;
            }

            &__title {
                font-weight: bold;
                font-size: 24px;
                line-height: 32px;
                color: #111111;
                margin-bottom: 12px;
            }

            &__adres {
                margin-bottom: 94px;
            }

            &-desc {
                display: flex;
                flex-direction: column;
                height: 100%;
                position: relative;
            }
        }
    }
}

.scheme {
    padding-top: 37px;
    padding-bottom: 75px;
    background-color: #2D404C;

    &__title {
        font-size: 38px;
        line-height: 47px;
        text-align: center;
        color: #ECF0F1;
        margin-bottom: 6px;
    }

    &__text {
        font-size: 30px;
        line-height: 37px;
        text-align: center;
        color: #ECF0F1;
        margin-bottom: 33px;
    }

    &-timeline {
        .row-flex();
        flex-direction: column;
        align-items: center;

        h3 {
            font-size: 20px;
            line-height: 27px;
            color: #ECF0F1;
            margin-bottom: 11px;
        }

        p {
            font-size: 14px;
            line-height: 22px;
            color: #ECF0F1;
        }

        &-article {
            position: relative;
            .col();
            .size(7);

            &:not(:last-child) {
                margin-bottom: 40px;

                &::before {
                    height: calc(100% + 40px);

                }
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 50%;
                margin-left: -1px;
                width: 2px;
                background: #EDEDED;
            }

            &::after {
                content: "";
                top: 0;
                left: 50%;
                margin-left: -25px;
                position: absolute;
                width: 50px;
                height: 50px;
                background: #DFB48B;
                border-radius: 5px;
                text-align: center;
                font-size: 18px;
                line-height: 50px;
                text-align: center;
                color: #111111;
            }

            &:nth-child(1)::after {
                content: "1";
            }

            &:nth-child(2)::after {
                content: "2";
            }

            &:nth-child(3)::after {
                content: "3";
            }

            &:nth-child(4)::after {
                content: "4";
            }

            &:nth-child(5)::after {
                content: "5";
            }

            &:nth-child(6)::after {
                content: "6";
            }

            &:nth-child(odd) {
                text-align: right;
            }

            &:nth-child(even) {
                div {
                    margin-left: auto;
                }
            }

            &-item {
                .col();
                .size(5);  
            }
        }
    }
}

.footer {
    padding-top: 72px;
    padding-bottom: 57px;
    background-image: url("../images/footer.jpg");
    background-size: cover;
    
    &__text {
        font-size: 13px;
        line-height: 24px;
        color: rgba(236, 240, 241, 0.3);
        text-align: center;
        
    }

    &-nav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 23px;

        &__tel {
            font-size: 32px;
            line-height: 38px;
            color: #ECF0F1;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &-contact {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 21px;

        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        input {
            text-transform: none;
            background-image: url("../images/search.svg");
            background-repeat: no-repeat;
            background-position: 12px center;
        }

        &__inp {
            background-color: transparent;
            width: 282px;
            height: 60px;
            border: 1px solid rgba(255, 255, 255, 0.2);
            box-sizing: border-box;
            border-radius: 5px;
            font-size: 14px;
            line-height: 60px;
            text-align: center;
            letter-spacing: 0.6px;
            text-transform: uppercase;
            color: #ECF0F1;
        }
    }

    &-social {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 59px;

        &-item {

            &__title {
                font-size: 15px!important;
                line-height: 24px!important;
                color: rgba(236, 240, 241, 0.3)!important;
            }

            p {
                margin-bottom: 16px;
                font-size: 20px;
                white-space: pre-line;
                line-height: 28px;
                color: #ECF0F1;
            }
        }

        &-soc {
            display: flex;
            flex-wrap: wrap;

            &__item {
                width: 44px;
                height: 44px;
                border: 1px solid rgba(255, 255, 255, 0.2);
                box-sizing: border-box;
                border-radius: 100px;

                &:not(:last-child) {
                    margin-right: 7px;
                }
            }
        }

        &__title {
            font-size: 15px!important;
            line-height: 24px!important;
            color: #ECF0F1!important;
        }
    }
}

.degub-grid{
    .debug(rgba(0, 0, 0, 0.5), 1px solid #ff0);
 }

 .header-top-burger {
    width: 31px;
    height: 31px;
    border-radius: 1px;
    position: relative;

    &__item {
        position: absolute;
        width: 31px;
        height: 3px;
        background: #ECF0F1;
        transform: matrix(1, 0, 0, -1, 0, 0);

        &:nth-child(1) {
            top: 0;
        }

        &:nth-child(1) {
            top: 50%;
            margin-top: -1.5px;
        }

        &:nth-child(3) {
            bottom: 0;
        }
    }
 }

 @media screen and (max-width: 1157px) {
     .header-top-nav {
         display: none;
     }

     .header-top-burger {
         display: block;
     }
     .header-top {
         justify-content: center;

         &-logo,
         &-burger {
            margin-right: 40px;
         }
     }
     
     .portfolio-nav {
         display: none;
     }

     .portfolio-slider {
         flex-direction: column;
         align-items: center;
         position: relative;

         img {
             .size(6);
             margin: 0;
         }

         .one,
         .two {
             display: none;
         }
     }

     .portfolio-slider-main {
         .size(12);

         &__adres {
             margin-bottom: 35px;
         }
     }

     .portfolio-slider-nav {
         position: relative;
         margin-right: 0;
         width: 100%;
     }

     .portfolio-slider-nav ul {
         justify-content: space-between;

         a {
             margin: 0;
         }
     }
 }

 @media screen and (max-width: 864px) {
    h1 {
        font-size: 50px;
        line-height: 60px;
    }

    .desc .container {
        flex-wrap: wrap;
    }
    .desc-main {
        .size(12);
    }

    .desc-footer {
        .size(12);
    }

    .service-items-item:first-child {
        .size(12);
    }

    .service-items-item {
        .size(12);
        background-position: center;
        background-size: cover;

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
    
    .scheme-timeline-article {
        .size(12);
    }
}

@media screen and (max-width: 656px) {
    .header {
        background-position: center;
    }
}

@media screen and (max-width: 535px) {
    .header {
        padding-top: 0;
    }
    .header-top {
        padding-top: 7px;
        padding-bottom: 7px;
        justify-content: space-around;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            width: 110%;
            background: #2D404C;
            height: 55px;
        }

        &-logo {
            display: none;
        }

        &-burger {
            margin: 0;
            order: -1;
            position: relative;
            z-index: 11;
        }

        &-call {
            display: block;
            position: relative;
            z-index: 11;
        }

        button {
            position: relative;
            z-index: 11;
        }
    }

    .advant__title {
        text-align: center;
        margin-right: 0;
        margin-left: 0;
    }

    .advant-items-item {
        .size(12);
        
        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }
}

@media screen and (max-width: 396px) {
    .header {
        padding-bottom: 67px;

        &-btn {
            padding: 24px 10px;
        }
    }

    h1 {
        font-size: 27px;
        line-height: 37px;
    }

    h2 {
        font-size: 17px;
        line-height: 27px;
    }

    .desc-main__text {
        font-size: 18px;
        line-height: 30px;
        white-space: pre-line;
    }

    .portfolio-slider {
        img {
            .size(12);
        }
    }
}

@media screen and (max-width: 932px) {
    .footer-nav,
    .footer-contact,
    .footer-social {
        flex-direction: column;
        align-items: center;
    }
    
    .header-btn {
        margin: 0;
        margin-bottom: 20px;
    }

    .footer-nav-logo {
        margin-bottom: 20px;
    }

    .footer-contact {
        input,
        a {
            margin-bottom: 20px;
        }
    }
}

